.tabbar__radio {
  .tabbar__label {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 0.2rem 0.6rem;

    input[type='radio'] {
      display: none;
    }

    &:has(input[type='radio']:checked) {
      background: rgba(141, 141, 141, 0.578);
    }
  }
}
